<%# Slice 5 will fill this in: greeting, project cards, workshops strip, resources teaser. %>
<div data-home-variant="participant" class="px-6 py-12">
  <h1 class="text-2xl font-bold text-imasus-dark-green">
    <%= t(".greeting", name: current_user.name) %>
  </h1>
</div>
