<%# locals: (log_entries:, page:, next_page:) %>
<%= turbo_frame_tag "log_entries_page_#{page}" do %>
  <%= render partial: "entry", collection: log_entries, as: :entry %>

  <p role="status" class="sr-only">
    <%= t("log_entries.index.loaded_batch", count: log_entries.size) %>
  </p>

  <%= render "next_page", next_page: next_page %>
<% end %>
