<%# locals: (next_page:) %>
<% if next_page %>
  <%= turbo_frame_tag "log_entries_page_#{next_page}",
        src: project_log_entries_path(@project, request.query_parameters.merge(page: next_page)),
        loading: "lazy",
        data: { role: "log-entries-next-page", controller: "lazy-frame" },
        class: "block min-h-12" do %>
    <span class="sr-only"><%= t("log_entries.index.loading_more") %></span>
  <% end %>
<% end %>
