<% content_for :title, t("project_publications.new.title") %>

<div class="px-6 py-12 sm:px-10 lg:px-16">
  <div class="mx-auto max-w-3xl">
    <%= link_to t("projects.show.back_to_index"), project_path(@project),
                class: "text-sm font-semibold text-imasus-dark-green/70 hover:text-imasus-dark-green" %>

    <div class="mt-8">
      <%= render "form",
                 project: @project,
                 form_url: project_publication_path(@project),
                 form_method: :post %>
    </div>
  </div>
</div>
