<%# locals: (materials:, page:, next_page:) %>
<%= turbo_frame_tag "materials_page_#{page}", class: "contents" do %>
  <% materials.each do |material| %>
    <div role="listitem">
      <%= render "card", material: material, priority: false %>
    </div>
  <% end %>

  <p role="status" class="sr-only">
    <%= t("materials.index.loaded_batch", count: materials.size) %>
  </p>

  <%= render "next_page", next_page: next_page %>
<% end %>
