<%# locals: (next_page:) %>
<% if next_page %>
  <%= turbo_frame_tag "materials_page_#{next_page}",
        src: materials_path(request.query_parameters.merge(page: next_page)),
        loading: "lazy",
        data: { role: "materials-next-page", controller: "lazy-frame" },
        class: "col-span-full block min-h-16" do %>
    <span class="sr-only"><%= t("materials.index.loading_more") %></span>
  <% end %>
<% end %>
